*.mov
*.mp4
*.mkv
*.idx
*.sub

/AutoPostToTumblr/OAuthSettings.*

/EarlyScreenshots_Netflix
/ExtractTextFromScript/PNG_Output
/ExtractTextFromScript/TestPNGs
/FinalScreenshotsToPost*
/Lecture
/PostedEpisodes
/PressImages
/RhizomePost
/Screenshots
